

.morning{
    background-image: url(image/background/overlay-2.png),
    url(image/background/coffee-image-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    height: 30vw;
    align-items: center;
    position: relative;

    .morning__container{
        display: flex;
        flex-direction: column;
        width: 43vw;
    }

        .morning__container-title{
            font-size: clamp(42px, 6vw, 60px);
            color: #ffffff;
            margin-bottom: 0;
        }

        .morning__container-paragraph{
            font-family: 'Playfair Display', serif;
            font-size: clamp(18px, 2vw, 22px);
            font-weight: 400;
            color: #ffffff;
            line-height: 40px;
            margin-bottom: 0;
        }

        .morning__container-button{
            background-color: #F9C06A;
            height: 4.5vh;
            width: 8vw;
            font-family: 'Playfair Display', serif;
            border-radius: 50px;
            border: none;
            font-size: clamp(12px, 2vw, 14px);
            font-weight: bold;
            margin-top: 1vh;
        }

    .morning__image-grains{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    .morning__image{
        z-index: 1;
    }

        .morning__image-cup{}

}